body {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
}

.img-explore {
    z-index: 1;
    width: 750px;
    height: 750px;
    border: 10px solid black;
}

/* #page {
    
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
/* } */ 

.explore-content {
    display: flex;
    z-index: 2;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
    bottom: 250px;
}

.text-explore {
    width: 500px;
    font-size: 1.25rem;
    background-color: rgba(0, 0, 0, 0.3);
    font-family: 'VT323', monospace;
    color: white;
    padding: 1rem;
    border-radius: 20px;
}

.buttons-position {
    align-self: center;
}
