/* NAVIGATION BAR START: */
.logo {
    margin: -4px 4px 4px 200px;
    max-width: 150px;
    float: left;
}

.header-nav {
    margin: 0px 0px 0px 100px;
    text-align: center;
}

ul {
    list-style-type: none;
    width: 1100px;
    overflow: hidden;
    font-size: 18px;
}

li:hover {
    background-color: rgb(166, 228, 228);
    color: rgb(46, 134, 51);
    cursor: pointer;
}

li {
    float: right;
    color: white;
    margin: 5px;
    font-family: 'VT323', monospace;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

body {
    background-image: url("https://i.imgur.com/A7Bm5V7.png");
    background-repeat: no-repeat;
    background-size: 1400px;
    background-position: center top;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.slogan-lp {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    font-family: 'VT323', monospace;
    color:rgb(11, 71, 62);
    font-size: 35px;
    margin: 473px 600px 1px 0px;
    line-height: 0.1;
}

footer {
    font-family: 'VT323', monospace;
    color: white;
    margin: 153px 0px 0px 300px;
    position: fixed;
    bottom: 2%;
}
/* 
#page {
    display: flex;
} */
