ul {
    list-style-type: none;
    width: 900px;
    overflow: hidden;
}

li {
    float: right;
    color: white;
    margin: 5px;
    font-family: 'VT323', monospace;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(196, 222, 241);
}

/* .content {
    max-width: 1000px;
    margin: auto;
} */

body {
    background-image: url("https://i.imgur.com/A7Bm5V7.png");
    background-repeat: no-repeat;
    /* background-size: 1010px; */
}

body img {
    object-fit:fill;
    background-position: cover;
    max-height: 1000px;
    margin: auto;
}

/* .slogan-lp {
    font-family: 'VT323', monospace;
    color:rgb(11, 71, 62);
    font-size: 25px;
    margin: 1px;
} */

.logo {
    max-width: 150px;
}

footer {
    font-family: 'VT323', monospace;
    color: white;
    margin: 600px 1px 1px 1px;
}